* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
}

/* Navbar */
.nav {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav img {
  width: 131px;
  height: 50px;
  margin-left: 55px;
}

.list-item {
  list-style: none;
  font-size: 20px;
  display: inline-block;
  padding: 20px;
  cursor: pointer;
}

.list-item:hover {
  color: #1ed760;
}

.icon {
  margin-right: 15px;
}

/* Section 1 */

.sec-one {
  width: 100%;
  height: 470px;
  background-color: rgb(29, 117, 222);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
}

.heading {
  font-size: 27px;
  margin-top: 90px;
}

.description span {
  font-size: 26px;
}

.description {
  margin-top: 40px;
}

.badge {
  background-color: black;
  color: white;
  /* border: 1px solid white; */
  border: none;
  border-radius: 100px;
  padding: 6px 24px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 0.5rem;
  height: 50px;
  width: 160px;
  font-size: 16px;
  /* margin-left: 29rem; */
}

.buttons .btn2 {
  background-color: transparent;
  border: 2px solid white;
  height: 50px;
  width: 185px;
}

.badge:hover {
  transform: scale(1.05);
}

.btn2:hover {
  opacity: 0.8;
}

.buttons {
  margin-top: 40px;
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec-one p {
  font-size: 10px;
  margin-top: 50px;
}

/* section 2 */
.sec-two {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.sec-two h2 {
  color: black;
  font-size: 40px;
  margin-bottom: 70px;
}

.gallery {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 222px;
}

#item1 {
  height: 142px;
  width: 142px;
}

#item2 {
  height: 142px;
  width: 142px;
}

#item3 {
  height: 142px;
  width: 142px;
}

#item4 {
  height: 142px;
  width: 142px;
}

.item p {
  color: black;
  font-size: 20px;
  margin-top: 30px;
}

.item span {
  color: black;
  margin-top: 10px;
  display: block;
  line-height: 1.5;
  text-align: center;
}
.sec-three {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec-three h2 {
  color: black;
  font-size: 40px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
}

.sec-three p {
  color: black;
  text-align: center;
}

.plans {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 600px;
  padding: 50px;
}

.plan {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  /* border: 2px solid red; */
  padding: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px black;
  max-width: 270px;
  height: 500px;
  /* border-radius: 5%; */
}

hr {
  height: 2px;
  background-color: rgb(204, 204, 204);
  margin-top: 15px;
  width: 230px;
  margin-bottom: 10px;
}

#hr-one {
  margin-top: 50px;
}
.plan .part-one li {
  color: rgb(13, 114, 234);
  list-style: none;
  font-weight: 600;
  border: 1px solid rgb(13, 114, 234);
  padding: 3.5px;
  text-align: center;
  width: fit-content;
  height: 25px;
  font-size: 14px;
  border-radius: 5px;
  /* margin-top: 10px; */
  /* border-radius: 20%; */
}

.plan .part-one {
  line-height: 1.2;
}

.plan .part-one h3 {
  color: black;
  font-size: 25px;
  padding-top: 8px;
}

.plan .part-two li,
a {
  color: black;
}

.plan .part-one p {
  text-align: left;
  font-weight: 500;
}

.plan .part-two li {
  list-style: square;
  line-height: 1.7;
  text-align: justify;
}

.plan .part-two {
  padding-left: 20px;
  padding-right: 20px;
}

.plan .badge {
  width: 225px;
  margin-bottom: 15px;
}

.plan a {
  margin-bottom: 10px;
  font-size: 12px;
  color: #535353;
}

.plan #free-btn {
  width: fit-content;
  margin-bottom: 8px;
  background-color: rgb(13, 114, 234);
  color: white;
  font-size: 13px;
}

#part-one,
#part-two {
  margin-bottom: 50px;
}

#part-three {
  margin-bottom: 25px;
}

/* Special Discount */
.discount {
  width: 740px;
  height: 82px;
  background-color: white;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  margin-bottom: 80px;
}

.discount h3 {
  color: black;
  font-size: 22px;
}

.discount .badge {
  background-color: white;
  color: black;
  border: 2px solid black;
}

/* Footer */

footer {
  height: 560px;
  background-color: black;
  color: black;
}

.footer-content {
  display: flex;
  height: 500px;
}

.logo {
  padding-top: 70px;
  height: 245px;
  margin-left: 50px;
  margin-right: 40px;
}

.logo img {
  width: 132px;
  height: 42px;
}

.footer-content h5 {
  color: #919496;
}

.footer-content a {
  color: white;
}

.company {
  width: 160px;
  height: 245px;
  display: flex;
  flex-direction: column;
  /* background-color: #ffa500; */
  margin-top: 75px;
  text-align: justify;
}

.company h5 {
  padding: 15px 10px 10px 15px;
}

.company a {
  padding: 15px;
}

.community {
  width: 160px;
  height: 245px;
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}

footer a{
  text-decoration: none;
}

footer a:hover{
  color: #1ed760;
}

.community h5 {
  padding: 15px 10px 10px 15px;
}

.community a {
  padding: 15px;
}

.useful-link {
  width: 160px;
  height: 245px;
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}

.useful-link h5 {
  padding: 15px 10px 10px 15px;
}

.useful-link a {
  padding: 15px;
}

footer ul li{
  color: #919496;
  display: inline-block;
  margin: 0 35px 0 0 ;
  /* padding: 0 0 0 15px; */
  font-size: 12px;
  cursor: pointer;
}
footer ul li:hover{
  color: #1ed760;
}

footer ul{
  padding-left: 50px;
}

.social
{
  margin-left: 300px;
  margin-top: 60px;
  /* background-color: #1ed760; */
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social i{
  font-size: 30px;
}

.social i:hover{
  color: #1ed760;
}

.insta, .fb, .twitter{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #222326;
}